 %% -*- erlang -*-
 [
  {kernel,
   [
    {logger,
     [{handler,default,logger_std_h,
       #{config => #{type => standard_io},
         formatter =>
             {logger_formatter,
              #{legacy_header => false, single_line => false}}}}]},
    {logger_level,info},
    {logger_sasl_compatible,false}
   ]}
 ].
