{erl_opts, [debug_info, warn_untyped_record, warnings_as_errors]}.

{cover_export_enabled, true}.
{cover_enabled, true}.
{deps, [
        {erlang_pbc, ".*", {git, "https://github.com/helium/erlang_pbc.git", {branch, "master"}}}
       ]}.

{profiles, [
            {test, [
               {deps, [
                       {erlang_tpke, ".*", {git, "https://github.com/helium/erlang-tpke.git", {branch, "master"}}},
                       {relcast, ".*", {git, "https://github.com/helium/relcast.git", {branch, "master"}}}
                      ]}
              ]}
           ]}.

{dialyzer, [
            {warnings, [unknown]},
            {plt_apps, all_deps}
           ]}.
