%% -*- erlang -*-
{erl_opts, [debug_info, warn_untyped_record]}. %%, warnings_as_errors]}.

{ct_opts, [{sys_config, "test/test.config"}, {update_logger, true}]}.

{ct_compile_opts, [{parse_transform, cth_readable_transform}]}.

{update_logger, true}.

{cover_export_enabled, true}.
{cover_enabled, true}.
{cover_opts, [verbose]}.
{covertool, [{coverdata_files,
              [
               "ct.coverdata"
              ]}]
}.

{project_plugins,
 [
  covertool
 ]}.

{deps, [
        {erlang_pbc, ".*", {git, "https://github.com/helium/erlang_pbc.git", {branch, "master"}}}
       ]}.

{profiles, [
            {test, [
               {deps, [
                       {erlang_tpke, ".*", {git, "https://github.com/helium/erlang-tpke.git", {branch, "master"}}},
                       {relcast, ".*", {git, "https://github.com/helium/relcast.git", {branch, "master"}}}
                      ]}
              ]}
           ]}.

{dialyzer, [
            {warnings, [unknown]},
            {plt_apps, all_deps}
           ]}.
